aiohttp==3.8.1; python_version >= "3.6"
aioreactive==0.16.0; python_version >= "3.9" and python_version < "3.11"
aioredis==1.2.0
aiosignal==1.2.0; python_version >= "3.6"
alpaca-trade-api==2.1.0
alpha-vantage==2.3.1
alphalens==0.4.0
appnope==0.1.3; sys_platform == "darwin" and python_version >= "3.8" and python_version < "3.10" and platform_system == "Darwin"
arctic @ git+https://github.com/9600dev/arctic.git@master
argon2-cffi-bindings==21.2.0; python_version >= "3.7" and python_version < "3.10"
argon2-cffi==21.3.0; python_version >= "3.7" and python_version < "3.10"
asttokens==2.0.5; python_version >= "3.8" and python_version < "3.10"
async-timeout==4.0.2; python_version >= "3.7"
attrs==21.4.0; python_version >= "3.7" and python_full_version < "3.0.0" or python_full_version >= "3.5.0" and python_version >= "3.7"
backcall==0.2.0; python_version >= "3.8" and python_version < "3.10"
backoff==2.0.1; python_version >= "3.7" and python_version < "4.0"
beautifulsoup4==4.11.1; python_full_version >= "3.6.0"
bleach==5.0.0; python_version >= "3.7" and python_version < "3.10"
bs4==0.0.1
certifi==2022.5.18.1; python_version >= "3.8" and python_version < "4.0" and (python_version >= "3.6" and python_full_version < "3.0.0" and python_version < "3.10" or python_version >= "3.6" and python_version < "3.10" and python_full_version >= "3.6.0")
cffi==1.15.0; implementation_name == "pypy" and python_version >= "3.7" and python_version < "3.10"
charset-normalizer==2.0.12; python_full_version >= "3.6.0" and python_version >= "3.6" and python_version < "3.10"
click-help-colors==0.9.1
click-option-group==0.5.3; python_version >= "3.6" and python_version < "4"
click-repl==0.2.0
click==8.1.3; python_version >= "3.7" and python_version < "4"
colorama==0.4.4; python_version >= "3.8" and python_full_version < "3.0.0" and sys_platform == "win32" and python_version < "3.10" and platform_system == "Windows" or sys_platform == "win32" and python_version >= "3.8" and python_full_version >= "3.5.0" and python_version < "3.10" and platform_system == "Windows"
coloredlogs==15.0.1; (python_version >= "2.7" and python_full_version < "3.0.0") or (python_full_version >= "3.5.0")
commonmark==0.9.1; python_full_version >= "3.6.3" and python_full_version < "4.0.0"
configobj==5.0.6
crontab==0.23.0
cssselect==1.1.0; python_version >= "2.7" and python_full_version < "3.0.0" or python_full_version >= "3.4.0"
cycler==0.11.0; python_version >= "3.7" and python_version < "3.10"
dateparser==1.1.1; python_version >= "3.6" and python_version < "3.10"
debugpy==1.6.0; python_version >= "3.7" and python_version < "3.10"
decorator==5.1.1; python_version >= "3.8" and python_version < "3.10"
defusedxml==0.7.1; python_version >= "3.7" and python_full_version < "3.0.0" and python_version < "3.10" or python_version >= "3.7" and python_version < "3.10" and python_full_version >= "3.5.0"
deprecated==1.2.13; python_version >= "3.6" and python_full_version < "3.0.0" or python_full_version >= "3.4.0" and python_version >= "3.6"
deprecation==2.1.0
dill==0.3.5.1; python_version >= "3.6" and python_full_version < "3.0.0" and python_version < "3.10" or python_version >= "3.6" and python_version < "3.10" and python_full_version >= "3.7.0"
durations==0.3.3
empyrical==0.5.5
entrypoints==0.4; python_version >= "3.7" and python_version < "3.10"
enum-compat==0.0.3
eventkit==0.8.9; python_version >= "3.6"
ewmh==0.1.6
exchange-calendars==3.6.3; python_version >= "3.7"
executing==0.8.3; python_version >= "3.8" and python_version < "3.10"
expression==2.2.0; python_version >= "3.9" and python_version < "3.11"
fastjsonschema==2.15.3; python_version >= "3.7" and python_version < "3.10"
finviz==1.4.4
flake8==4.0.1; python_version >= "3.6"
fonttools==4.33.3; python_version >= "3.7" and python_version < "3.10"
frozenlist==1.3.0; python_version >= "3.7"
heapdict==1.0.1; python_version >= "3.7"
hiredis==2.0.0; python_version >= "3.7"
humanfriendly==10.0; python_version >= "2.7" and python_full_version < "3.0.0" or python_full_version >= "3.5.0"
ib-insync==0.9.70; python_version >= "3.6"
idna==3.3; python_version >= "3.6" and python_full_version < "3.0.0" and python_version < "3.10" or python_full_version >= "3.6.0" and python_version >= "3.6" and python_version < "3.10"
imageio==2.19.3; python_version >= "3.7" and python_version < "3.10"
ipykernel==6.13.0; python_version >= "3.7" and python_version < "3.10"
ipython-genutils==0.2.0; python_version >= "3.7" and python_version < "3.10"
ipython==8.4.0; python_version >= "3.8"
ipywidgets==7.7.0; python_version >= "3.6" and python_version < "3.10"
jedi==0.18.1; python_version >= "3.8" and python_version < "3.10"
jinja2==3.1.2; python_version >= "3.7" and python_version < "3.10"
joblib==1.1.0; python_version >= "3.8" and python_version < "3.10"
json5==0.9.8
jsonschema==4.6.0; python_version >= "3.7"
jupyter-client==7.3.1; python_version >= "3.7" and python_version < "3.10" and python_full_version >= "3.7.0"
jupyter-core==4.10.0; python_version >= "3.7" and python_version < "3.10"
jupyterlab-pygments==0.2.2; python_version >= "3.7" and python_version < "3.10"
jupyterlab-widgets==1.1.0; python_version >= "3.6" and python_version < "3.10"
kiwisolver==1.4.2; python_version >= "3.7" and python_version < "3.10"
korean-lunar-calendar==0.2.1; python_version >= "3.7"
lightbus==1.1.2; python_version >= "3.7"
llvmlite==0.38.1; python_version >= "3.7" and python_version < "3.10" and python_version != "3.7"
lxml==4.9.0; (python_version >= "2.7" and python_full_version < "3.0.0") or (python_full_version >= "3.5.0")
lz4==4.0.1; python_version >= "3.7"
markupsafe==2.1.1; python_version >= "3.7" and python_version < "3.10"
matplotlib-inline==0.1.3; python_version >= "3.8" and python_version < "3.10"
matplotlib==3.5.2; python_version >= "3.7" and python_version < "3.10"
mccabe==0.6.1; python_version >= "3.6"
mistune==0.8.4; python_version >= "3.7" and python_version < "3.10"
mock==4.0.3; python_version >= "3.6"
mockextras==1.0.2
msgpack==1.0.3
multidict==6.0.2; python_version >= "3.7"
multitasking==0.0.10
mypy-extensions==0.4.3; python_version >= "3.6" and python_version < "3.10"
mypy==0.960; python_version >= "3.6"
nbclient==0.6.3; python_version >= "3.7" and python_version < "3.10" and python_full_version >= "3.7.0"
nbconvert==6.5.0; python_version >= "3.7" and python_version < "3.10"
nbformat==5.4.0; python_version >= "3.7" and python_version < "3.10" and python_full_version >= "3.7.0"
nest-asyncio==1.5.5; python_version >= "3.5"
notebook==6.4.11; python_version >= "3.7" and python_version < "3.10"
numba==0.55.2; python_version >= "3.7" and python_version < "3.11"
numpy==1.22.4; python_version >= "3.8"
packaging==21.3; python_version >= "3.7" and python_version < "3.10"
pandas-datareader==0.10.0; python_version >= "3.6"
pandas==1.4.2; python_version >= "3.8"
pandocfilters==1.5.0; python_version >= "3.7" and python_full_version < "3.0.0" and python_version < "3.10" or python_version >= "3.7" and python_version < "3.10" and python_full_version >= "3.4.0"
parso==0.8.3; python_version >= "3.8" and python_version < "3.10"
patsy==0.5.2; python_version >= "3.7"
pexpect==4.8.0; sys_platform != "win32" and python_version >= "3.8" and python_version < "3.10"
pickleshare==0.7.5; python_version >= "3.8" and python_version < "3.10"
pillow==9.1.1; python_version >= "3.7" and python_version < "3.10"
plotille==4.0.2; (python_version >= "2.7" and python_full_version < "3.0.0") or (python_full_version >= "3.6.0")
plotly==5.8.0; python_version >= "3.6" and python_version < "3.10"
polygon-api-client==1.0.2; python_version >= "3.8" and python_version < "4.0"
prometheus-client==0.14.1; python_version >= "3.7" and python_version < "3.10"
prompt-toolkit==3.0.29; python_full_version >= "3.6.2"
psutil==5.9.1; (python_version >= "2.7" and python_full_version < "3.0.0") or (python_full_version >= "3.4.0")
ptyprocess==0.7.0; sys_platform != "win32" and python_version >= "3.8" and python_version < "3.10" and os_name != "nt"
pure-eval==0.2.2; python_version >= "3.8" and python_version < "3.10"
py==1.11.0; python_version >= "3.6" and python_full_version < "3.0.0" and implementation_name == "pypy" or implementation_name == "pypy" and python_version >= "3.6" and python_full_version >= "3.5.0"
pycodestyle==2.8.0; python_version >= "3.6" and python_full_version < "3.0.0" or python_full_version >= "3.5.0" and python_version >= "3.6"
pycparser==2.21; python_version >= "3.6" and python_full_version < "3.0.0" and implementation_name == "pypy" or implementation_name == "pypy" and python_version >= "3.6" and python_full_version >= "3.4.0"
pyfiglet==0.8.post1
pyflakes==2.4.0; python_version >= "3.6" and python_full_version < "3.0.0" or python_full_version >= "3.4.0" and python_version >= "3.6"
pygments==2.12.0; python_full_version >= "3.6.3" and python_full_version < "4.0.0" and python_version >= "3.8" and python_version < "3.10"
pyluach==2.0.0; python_version >= "3.7"
pymongo==4.1.1; python_full_version >= "3.6.2"
pypager==3.0.0; python_version >= "3.6"
pyparsing==3.0.9; python_version >= "3.7" and python_version < "3.10" and python_full_version >= "3.6.8"
pyreadline3==3.4.1; sys_platform == "win32" and python_version >= "3.8" and (python_version >= "2.7" and python_full_version < "3.0.0" or python_full_version >= "3.5.0")
pyrsistent==0.18.1; python_version >= "3.7"
python-dateutil==2.8.2; python_version >= "3.8" and python_full_version < "3.0.0" and python_version < "3.10" or python_version >= "3.8" and python_version < "3.10" and python_full_version >= "3.3.0"
python-xlib==0.31
pytz-deprecation-shim==0.1.0.post0; python_version >= "3.6" and python_full_version < "3.0.0" and python_version < "3.10" or python_version >= "3.6" and python_version < "3.10" and python_full_version >= "3.6.0"
pytz==2022.1
pywin32==304; sys_platform == "win32" and platform_python_implementation != "PyPy" and python_version >= "3.7" and python_version < "3.10"
pywinpty==2.0.5; python_version >= "3.7" and python_version < "3.10" and os_name == "nt"
pyyaml==6.0; python_version >= "3.6"
pyzmq==23.1.0; python_version >= "3.7" and python_version < "3.10"
redis==4.3.3; python_version >= "3.6"
regex==2022.3.2; python_version >= "3.6" and python_version < "3.10"
requests==2.27.1; (python_version >= "2.7" and python_full_version < "3.0.0") or (python_full_version >= "3.6.0")
rich==12.4.4; python_full_version >= "3.6.3" and python_full_version < "4.0.0"
rq==1.10.1; python_version >= "3.5"
rx==3.2.0; python_full_version >= "3.6.0"
schedule==1.1.0; python_version >= "3.6" and python_version < "3.10"
scikit-learn==1.1.1; python_version >= "3.8"
scipy==1.8.1; python_version >= "3.8" and python_version < "3.11"
seaborn==0.11.2; python_version >= "3.6"
send2trash==1.8.0; python_version >= "3.7" and python_version < "3.10"
setproctitle==1.2.3; python_version >= "3.6"
setuptools-scm==6.4.2; python_version >= "3.7" and python_version < "3.10"
six==1.16.0; python_version >= "3.8" and python_full_version < "3.0.0" and python_version < "3.10" or python_full_version >= "3.6.0" and python_version >= "3.8" and python_version < "3.10"
soupsieve==2.3.2.post1; python_version >= "3.6" and python_full_version >= "3.6.0"
stack-data==0.2.0; python_version >= "3.8" and python_version < "3.10"
statsmodels==0.13.2; python_version >= "3.7"
streamz==0.6.3; python_version >= "3.6"
tabulate==0.8.9
tabview==1.4.4
tenacity==8.0.1; python_version >= "3.6" and python_version < "3.10"
terminado==0.15.0; python_version >= "3.7" and python_version < "3.10"
threadpoolctl==3.1.0; python_version >= "3.8" and python_version < "3.10"
tinycss2==1.1.1; python_version >= "3.7" and python_version < "3.10"
tomli==2.0.1; python_version < "3.10" and python_version >= "3.7"
toolz==0.11.2; python_version >= "3.7"
tornado==6.1; python_version >= "3.5"
tqdm==4.64.0; python_version >= "3.6" and python_full_version < "3.0.0" and python_version < "3.10" or python_version >= "3.6" and python_version < "3.10" and python_full_version >= "3.4.0"
traitlets==5.2.0; python_version >= "3.7"
types-requests==2.27.30
types-urllib3==1.26.15
typing-extensions==4.2.0; python_version >= "3.9" and python_version < "3.11"
tzdata==2022.1; platform_system == "Windows" and python_version >= "3.6" and python_version < "3.10" and (python_version >= "3.6" and python_full_version < "3.0.0" and python_version < "3.10" or python_version >= "3.6" and python_version < "3.10" and python_full_version >= "3.6.0")
tzlocal==4.2; python_version >= "3.6" and python_version < "3.10"
uniplot==0.5.0; python_version >= "3.5"
urllib3==1.26.9; python_version >= "3.8" and python_full_version < "3.0.0" and python_version < "3.10" or python_full_version >= "3.6.0" and python_version < "3.10" and python_version >= "3.8"
user-agent==0.1.10
uvloop==0.16.0; python_version >= "3.7"
vectorbt==0.23.3; python_version >= "3.6" and python_version < "3.10"
vine==5.0.0; python_version >= "3.6"
visidata==2.8; python_version >= "3.6"
wcwidth==0.2.5; python_full_version >= "3.6.2" and python_version >= "3.8" and python_version < "3.10"
webencodings==0.5.1; python_version >= "3.7" and python_version < "3.10"
websocket-client==1.3.2; python_version >= "3.7"
websockets==10.3; python_version >= "3.8" and python_version < "4.0"
widgetsnbextension==3.6.0; python_version >= "3.6" and python_version < "3.10"
wrapt==1.14.1; python_version >= "3.6" and python_full_version < "3.0.0" or python_full_version >= "3.5.0" and python_version >= "3.6"
yarl==1.7.2; python_version >= "3.6"
yfinance==0.1.70
zict==2.2.0; python_version >= "3.7"
zmq==0.0.0
